<header>
  <div class="page-header">
    <div></div>
    <div class="header-wrap">
      <!--ロゴ表示-->
      <%= link_to root_path do %>
        <%= image_tag "logo-box-shiro.png", class: "logo" %>
      <% end %>
      <div class="event-date"><%= @present.formatted_date %></div>
    </div>

  </div>
</header>

