<%= render partial: "shared/second-header" %>

<%= form_with model: @present, url: presents_path, class: 'registration-main', id:"new_post", local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      プレゼントをつくる
    </h1>
  </div>

    <%= render partial: 'form', locals: { f: f, present: @present } %>
    <%#= render 'shared/error_messages', model: f.object %>

    <div class='make-present-btn'>
      <%= f.submit "つくる" ,class:"register-red-btn" %>
    </div>

  </div>
  <% end %>



