<%= render 'shared/header' %>
<!--メイン-->
<main>
  <div class="contents-wrap">
    <div class="left-side"></div>

    <div class="center">
      <!--メイン表示-->
      <% if current_user == @present.user %>
        <%= render 'shared/edit-destroy' %>
      <% end %>
      <%= render 'show' %>

    </div>
    <div class="right-side">

    </div>
  </div>
</main>

