<header class='second-header'>
  <%= link_to image_tag("logo.png", class:"form-logo "), "/" %>
</header>
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>

    <div class='form-header'>
      <h1 class='form-header-text'>会員情報入力</h1>
    </div>
    <%= render partial: 'new', locals: { f: f } %>

</div>
<% end %>
<!-- フッター -->
<div class="second-footer">
  <%= image_tag "logo.png", class: "form-logo" %>
</div>