<%= render 'shared/header' %>
<!--メイン-->
<main>
  <div class="contents-wrap">
    <div class="left-side">
    
    左
    
    </div>

    <div class="center">
    
    真ん中
    
    </div>

    <div class="right-side">
      <%= render 'index_right' %>
    
    </div>
  </div>

</main>