.filelabel {
  margin: 3px;
  background-color: rgb(165, 238, 255);  /* 背景色 */
  color: white;              /* 文字色 */
  border-radius: 3em;        /* 角丸 */
  padding: 2px 5px;         /* 内側の余白 */
  display: inline-block;     /* インラインブロック化 */
}
.filelabel img {
  vertical-align: bottom;    /* 画像の垂直方向の配置 */
}
.filelabel:hover {
  opacity: 0.5;              /* 半透明 */
  cursor: pointer;           /* マウス形状(ポインタ) */
}
.filesend {
  display: none;  /* 本来のファイル選択フォームは非表示に */
}
/* --------------------------------------------------------- */
.memo-wrap {
  display: flex;
  border-radius: 3em;
  border: solid 1px #ccc;
  align-items: center;
}

.memo-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------------------- */

.send {
  background-color: rgb(165, 238, 255);  /* 背景色 */
  color: white;              /* 文字色 */
  /* border-radius: 3em;        角丸 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  height: 33px;
  width: 33px;
}
.send img {
  vertical-align: center;    /* 画像の垂直方向の配置 */
}
.send:hover {
  opacity: 0.5;              /* 半透明 */
  border: 2px solid rgb(0, 166, 255);     /* 枠線(赤色) */
  cursor: pointer;           /* マウス形状(ポインタ) */
}

/* テキスト入力フォーム */
.memo-inputbox {
  border-radius: 3em; /*角丸*/
  border: solid 1px #ffffff00;
  height: 30px; 
  padding: 0 1rem;
}

.memo-post {
  grid-column: 2/3;
  grid-row: auto;
  justify-self: right;
}

.left-image {
  width: 13rem;
  margin-bottom: 30px;
  object-fit: cover;
  filter:opacity(70%);
}

.left-image:hover {
  filter:opacity(100%);
}

.left-grid {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: repeat(13, auto);
  grid-column-gap: 20px;
  grid-row-gap: 34px;
  margin-top: 30px;
}

.add-memo {
  font-size: 13px;
  line-height: 2;
}

/* 吹き出し本体 */
.balloon{
  position: relative;
  padding: 20px;
  background-color: rgb(165, 238, 255);
  color: #ffffff;
  border-radius: 10px;
}
/* 色付きの半円 */
.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(225deg);
  right: 20px;
  bottom: -12px;
  border-left: 20px solid rgb(165, 238, 255);
  border-top: 20px solid rgb(165, 238, 255);
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 白い半円 */
.balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(225deg);
  right: 6px;
  bottom: -20px;
  border-left: 20px solid #ffffff;
  border-top: 20px solid #ffffff;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
