.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(15, auto);
  grid-row-gap: 30px;
}

/* ---------------------------------------- */
/* ログイン */
.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
  grid-column: 1/11;
  grid-row: 1;
  justify-self: center;
  align-items: center;
}

/* メールアドレス */
.form-box5 {
  grid-column: 1/11;
  grid-row: 1;
  justify-self: right;
  align-items: center;
  margin-right: 20px;
}

/* メールアドレス */
.form-box1 {
  grid-column: 1/11;
  grid-row: 2;
  justify-self: center;
  align-items: center;
}

/* パスワード*/
.form-box2 {
  grid-column: 1/11;
  grid-row: 3;
  justify-self: center;
  align-items: center;
}

/* パスワード*/
.form-box3 {
  grid-column: 1/11;
  grid-row: 4;
  justify-self: center;
  align-items: center;
}

/* 新規登録確認ようパスワード*/
.form-box4 {
  grid-column: 1/11;
  grid-row: 5;
  justify-self: center;
  align-items: center;
}

/* 画像プレビュー*/
.form-box6 {
  grid-column: 1/9;
  grid-row: 3;
  justify-self: center;
  align-items: center;
}

/* 送信ボタン*/
.register-btn {
  grid-column: 1/11;
  grid-row: 6;
  justify-self: center;
  align-items: center;
}

/* 送信ボタン*/
.make-box-btn {
  grid-column: 1/11;
  grid-row: 5;
  justify-self: center;
  align-items: center;
  width: 50%;
  margin-top: 40px; 
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

/* 送信ボタン*/
.make-present-btn {
  grid-column: 1/11;
  grid-row: 15;
  justify-self: center;
  align-items: center;
  width: 50%;
  margin-top: 40px; 
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-box {
  margin: 0 auto;
  margin-bottom: 20px;
}

/* ボックスアイコン表示 */
.form-group {
  display: grid;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  grid-column: 3;
  grid-row: 3;
}

.form-group1 {
  display: flex;
  flex-direction: column;
  grid-column: 2/10;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  width: 400px;
}

/* イベント名 */
.form-group2 {
  align-items: end;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  grid-column: 4/8;
  grid-row: 3;
  justify-self: center;
  align-self: center;
}

/* 画像表示 */
.form-group3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  grid-column: 2/10;
  grid-row: 5/7;
  width: 400px;
  justify-self: center;
}

/* プレゼントタイトル */
.form-group4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  grid-column: 2/10;
  grid-row: 4;
  justify-self: center;
  align-self: center;
}

/* キャプション */
.form-group5 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  grid-column: 2/10;
  grid-row: 7/9;
  justify-self: center;
}

/* メッセージ */
.form-group6 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  grid-column: 4/8;
  grid-row: 9/10;
  justify-self: center;
}

/* shop */
.form-group7 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  grid-column: 4/8;
  grid-row: 10;
  justify-self: center;
}

/* URL */
.form-group8 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  grid-column: 4/8;
  grid-row: 11;
  justify-self: center;
}

/* price */
.form-group9 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  grid-column: 4/8;
  grid-row: 12;
  justify-self: center;
}

/* memo */
.form-group10 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  grid-column: 4/8;
  grid-row: 13;
  justify-self: center;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.present-title-text{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;

}

.input-default {
  width: 400px;
  margin-top: 15px;
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* インプットボックス小 */
.input-default-small {
  width: 40%;
  margin-top: 15px;
  height: 20px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* インプットボックス中 */
.input-default-regular {
  width: 60%;
  height: 70px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* 誕生日・記念日の入力欄 */
.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
  background-color: #f8f8f8;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

/* 登録ボタン */
.register-btn {
  width: 300px;
  margin-top: 40px; 
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.register-red-btn {
  width: 300px;
  background: #ff7e05;
  border: 2px solid #ff23a7;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}




/* 必須表示 */
.required {
  color: #ffffff;
  background-color: rgb(247, 24, 68);
  border-radius: 10%;
  height: 50px;
  width: 50px;
  padding: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}


.second-header {
  width: 100%;
  height: 130px;
  background-color: #f5f5f500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-footer {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 入力フォーム画面　ロゴ表示 */
.form-logo {
  width: auto;
  height: 49px;
}

.form-main-box {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.form-edit-wrapper {
  margin-bottom: 10px;
}

.edit-btn {
  width: 300px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  grid-column: 1/11;
  grid-row: 15;
  justify-self: center;
  align-self: center;
}

